/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #BFD7E9;
}

/* Principal title */
h1{
    text-align: center;
    margin-top: 10rem;
    font-size: 50px;
}

/* FORM */
form{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border:none;
    margin-bottom:30px;
}
/* SEACH */
#search{
    padding:15px;
    width:400px;
}

/* CARD DU POKEMON */
.card-pokemon{
    width:30vw; 
    margin:auto;
    background-color:white;
    border-radius : 30px;
}

.card-img-pokemon{
    
    width:7vw;
    margin:auto;
   
    
}


/* STYLE POUR LE NOM DU POKEMON*/
.name-pokemon{
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    
}

.type-pokemon, .stat-pokemon{
    margin-left : 40px;
    text-transform: capitalize;
    padding:8px;
}

